html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F9;
  color: #111;
}

body, p, ol, ul, td, input, select, label {
  font-family: Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #08C;
}

a:hover {
  text-decoration: underline;
  color: #005580;
}

header {
  height: 25px;
  margin-bottom: 25px;
  #border: 1px solid #000;
}

header h1 {
  font-size: 25px;
  font-weight: 200;
  line-height: 30px;
  display: inline-block;
  margin: 1px 0;
  float: right;
}

header a, header a:hover {
  text-decoration: none;
}

header a {
  color: #000;
}

header nav {
  display: inline-block;
  float: left;
  margin: 10px 0 0;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-right: 15px;
  font-size: 16px;
  display: inline-block;
}

div#container {
  width: 960px;
  margin: 10px auto;
}

div#content h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 35px;
  margin: 20px 0;
}

div#content ul {
  padding: 0 0 0 20px;
}

section {
  margin: 0 0 40px;
}

section div.date {
  float: right;
}
